<%- include('../partials/header.ejs') %>

<h1>Social media</h1>

<p>
	These are the social networks I currently take part in:
</p>
<ul>
	<li>
		<a href="https://www.linkedin.com/in/victor-moraes/">LinkedIn</a>
	</li>
	<li>
		<a href="https://github.com/moraesvic">GitHub</a>
	</li>
</ul>

<p>
	You can also contact me through my <em>business</em> e-mail <a href="mailto:victor@vulpi-ideas.com">[Link]</a>.
</p>
<p>
	Hope to hear from you soon!
</p>

<%- include('../partials/footer.ejs') %>