<%- include('../partials/header.ejs') %>

<h1><%= unauthorized %></h1>

<div class="width-xl-70 width-lg-70 width-md-80 width-100">
	<img id="img-under-construction" class="limit-width vertical-buffer-10">
	<p class="vertical-buffer-10">
		<%= p_01 %>
	</p>
</div>

<script src="/static/js/other/under-construction.js"></script>

<%- include('../partials/footer.ejs') %>